// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

.user-info {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 10px;
  font-size: 1.1em;
}