// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

.user-info {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 10px;
  font-size: 0.9em;
}

.order-email {
  float: right;
  margin-top: 30px;
}

.order-price {
  float: right;
}
